body{
    padding: 50px 50px;
}
ul li{
    text-transform: capitalize;
}
.form-label{
    margin-top: 20px !important;
    margin-bottom: none !important;
}
.user_name{
    text-transform: capitalize;
}
.image_profile{
    max-width: 100%;
}
.post_link{
    font-size: 13px;
    line-height: 20px;
}
.post_author{
    font-style: italic;
    font-size: 12px;
}
.post_author{
    font-style: italic;
    font-size: 12px;
    line-height:10px;
    text-transform: capitalize;
}
.post_author_2{
    font-size: 12px;
}

.tags_list{
    font-size: 13px;
    font-weight: bold;
}
.button_tag{
    background-color: #0d6efd;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    padding: 2px 6px 3px 6px;
    margin-left: 3px;
    text-transform: capitalize;
}
.button_tag:hover{
    background-color: #0e64e6;
    color: white;
    text-decoration: none;
}