{% extends "base.html" %}

{% block title %}Create a Tag{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Create a tag</h1>
      
      {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
      <div class="alert alert-danger" role="alert">{{ msg }}</div>
            {% endfor %}
        {% endif %}
      {% endwith %}

      <form action="/tags/new" method="post">
        <div class="col-auto">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Enter a name for the tag">
        </div>
        <div class="col-auto text-right mt-3">
          <a class="btn btn-outline-secondary btn-sm" href="/tags" role="button">Cancel</a>
          <button type="submit" class="btn btn-success btn-sm">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}