{% extends "base.html" %}

{% block title %}Tag Details{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="user_name">{{ tag.name }}</h1>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for msg in messages %}
      <div class="alert alert-success" role="alert">{{ msg }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="row">
        <ul>
          {% for post in posts %}
          <li class="post_link"><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <a class="btn btn-outline-secondary btn-sm" href="/tags" role="button">Go Back</a>
      <a class="btn btn-primary btn-sm" href="/tags/{{ tag.id }}/edit" role="button">Edit</a>
      <a class="btn btn-danger btn-sm" href="/tags/{{ tag.id }}/delete" role="button">Delete</a>
    </div>
  </div>
</div>
{% endblock %}