{% extends "base.html" %}

{% block title %}User Details{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-2">
      <img class="image_profile" src="{{ user.image_url }}" alt="">
    </div>
    <div class="col">
      <h1 class="user_name">{{ user.get_full_name() }}</h1>
      <a class="btn btn-outline-secondary btn-sm" href="/users" role="button">Go Back</a>
      <a class="btn btn-primary btn-sm" href="/users/{{ user.id }}/edit" role="button">Edit</a>
      <a class="btn btn-danger btn-sm" href="/users/{{ user.id }}/delete" role="button">Delete</a>
    </div>
  </div>
</div>
{% endblock %}